@model IEnumerable<WebApplication9.Models.ITEM_TYPE>



<li>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            Услуги
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            @foreach (var i in Model)
            {
                <li>
                    @Html.ActionLink(i.NAME, "../Home/exSearch/", new { id = i.NAME })
                </li>
            }
        </ul>
    </div>
</li>

